.main-header {
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: left;
  display: flex;
  height: 50vh;
  color: #fff;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.main-header h1 {
  font-size: xx-large;
  mix-blend-mode: difference;
}

.button .navbar-button {
  margin-right: 20px;
}

.navbar-nav {
  margin-left: 2em;
}

.nav-item {
  color: #fff;
}

.navbar {
  background-color: #61458c;
}

@media (min-width: 769px) {
  .main-header {
    background-image: url("../img/header.jpg");
    padding-left: 20px;
  }

  .nav-item {
    padding-right: 2rem;
  }

  .main-header h1 {
    font-size: 3em;
  }

  .weather {
    height: 8vh;
  }

  div#divLocation,
  div#divWeatherMain,
  div#divTempMin,
  div#divTempMax,
  div#divHumidity {
    flex-basis: max-content;
    padding-right: 20px;
    padding-left: 20px;
    align-items: stretch;
    white-space: nowrap;
    animation-duration: 15s;
    animation-name: animation_weather_min_width_769px;
  }

  .imageIcon {
    height: 80px;
    width: 80px;
  }

  div#buttonClose {    
    margin-bottom: 50px;
    font-size: 20px;
    background: #bfb4d1;   
  }
  div#buttonClose:hover{   
   background-color:#61458c;   
   border-radius: 4px;
   cursor:pointer;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .main-header {
    background-image: url("../img/header-mini.png");
    padding-left: 20px;
    height: 30vh;
  }

  .navbar-toggler {
    margin-right: 1em !important;
  }

  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .weather {   
    font-size: 1em;
    max-height: 6vh;
  }

  div#divLocation,
  div#divWeatherMain,
  div#divTempMin,
  div#divTempMax,
  div#divHumidity {
    padding-right: 15px;
    padding-left: 15px;
    white-space: nowrap;
    animation-duration: 15s;
    animation-name: animation_weather_max_width_768px;
  }

  .imageIcon {
    height: 80px;
    width: 80px;
  }

  div#buttonClose {
    left: -20px;
    font-size: 80px;
    padding-right: 50px;
    padding-left: 10px;
    height: 0px;
    white-space: nowrap;
    width: 5vw;
    float: left;
  }
}

@media (max-width: 375px) {
  .main-header {
    background-image: url("../img/header-mini.png");
    justify-content: center;
    height: 30vh;
  }

  .navbar-toggler {
    margin-right: 1em !important;
  }

  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .weather {
    font-size: 0.8em;
    height: 7vh;
    align-items: flex-start;
    overflow-x: visible;
  }

  div#divLocation,
  div#divWeatherMain,
  div#divTempMin,
  div#divTempMax,
  div#divHumidity {    
    padding-right: 10px;
    padding-left: 10px;  
    white-space: nowrap;
    animation-duration: 15s;
    animation-name: animation_weather_max_width_768px;
  }

  div#divWeatherMain {
    padding-right: 0px;
    padding-top: 2px;
  }


  .imageIcon {
    height: 70px;
    width: 70px;
  }

  div#buttonClose {
    left: -20px;
    font-size: 80px;
    padding-right: 50px;
    padding-left: 10px;
    height: 0px;
    white-space: nowrap;
    width: 5vw;
    float: left;
  }
}

.navbar-button {
  background: transparent;
  border: none;
  -webkit-border-radius: 3px;
  -moz-boerder-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: white;
  width: 8em;
  height: 2.5em;
  position: relative;
}

.collapse.show>ul {
  justify-content: center;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
  background: white;
  color: #61458c;
  /* add background-color to active links */
}

a.nav-link {
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
}

.navbar-collapse.collapse.show>ul.navbar-nav {
  justify-content: end;
}

.weather {
  display: flex;
  justify-content: space-around;
  text-align: start;
  align-items: center;
  background: #bfb4d1;
  color: #262429;
  font-weight: bold;
  /*El scroll se mantiene oculto, los div's hijos se mantienen dentro del contenedor weather*/
  overflow-x: hidden;
  /*Corregir el icono es demasiado grande*/
  overflow-y: hidden;
}

/* Init weatherMap*/
div#divLocation,
div#divWeatherMain,
div#divTempMin,
div#divTempMax,
div#divHumidity {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  text-align: center;
  /*Cada vez que termina un ciclo, la animación se reinicia al estado inicial
   y comienza desde el principio. Este es el comportamiento por defecto.*/
  animation-direction: normal;
  position: relative;
}

@keyframes animation_weather_min_width_769px {
  0% {
    right: -100%;
  }

  100% {
    right: 100%;
  }
}

@keyframes animation_weather_max_width_768px {
  0% {
    right: -150%;
  }

  100% {
    right: 150%;
  }
}

/*End wetherMap*/

.button-answer{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400; 
  line-height: 1.5;
  color:#fff;
  background-color:#61458c;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button-answer:hover{
  background-color:#fff;
  color:#61458c;
}
.button-answer:active{
  background-color:#fff;
  color:#61458c;
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}